<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkboxes</title>
</head>
<body>
    <button type="button">MassEats</button>
    <br>

    <input type="checkbox" id="7to8am" name="7to8am" value="7to8am">
    <label for="7to8am"> 7:00-8:00am</label><br>
    
    <input type="checkbox" id="8to9am" name="8to9am" value="8to9am">
    <label for="8to9am"> 8:00-9:00am</label><br>
    
    <input type="checkbox" id="9to10am" name="9to10am" value="9to10am">
    <label for="9to10am"> 9:00-10:00am</label><br>
    
    <input type="checkbox" id="10to11am" name="10to11am" value="10to11am">
    <label for="10to11am"> 10:00-11:00am</label><br>
    
    <input type="checkbox" id="11to12pm" name="11to12pm" value="11to12pm">
    <label for="11to12pm"> 11:00-12:00pm</label><br>
    
    <input type="checkbox" id="12to1pm" name="12to1pm" value="12to1pm">
    <label for="12to1pm"> 12:00-1:00pm</label><br>
    
    <input type="checkbox" id="1to2pm" name="1to2pm" value="1to2pm">
    <label for="1to2pm"> 1:00-2:00pm</label><br>

    <input type="checkbox" id="2to3pm" name="2to3pm" value="2to3pm">
    <label for="2to3pm"> 2:00-3:00pm</label><br>

    <input type="checkbox" id="3to4pm" name="3to4pm" value="3to4pm">
    <label for="3to4pm"> 3:00-4:00pm</label><br>
    
    <input type="checkbox" id="4to5pm" name="4to5pm" value="4to5pm">
    <label for="4to5pm"> 4:00-5:00pm</label><br>
    
    <input type="checkbox" id="5to6pm" name="5to6pm" value="5to6pm">
    <label for="5to6pm"> 5:00-6:00pm</label><br>

    <input type="checkbox" id="6to7pm" name="6to7pm" value="6to7pm">
    <label for="6to7pm"> 6:00-7:00pm</label><br>

    <input type="checkbox" id="7to8pm" name="7to8pm" value="7to8pm">
    <label for="7to8pm"> 7:00-8:00pm</label><br>

    <input type="checkbox" id="8to9pm" name="8to9pm" value="8to9pm">
    <label for="8to9pm"> 8:00-9:00pm</label><br>

    <input type="checkbox" id="9to10pm" name="9to10pm" value="9to10pm">
    <label for="9to10pm"> 9:00-10:00pm</label><br>

    <button type="button">Return</button>
    <button type="button">Save</button>
</body>
</html>