<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='{{url_for("signup")}}' method="post">
        <!-- name -->
        <label for="name">Name: </label>
        <input type="name" id="name" name="name">
        <!-- username -->
        <label for="username">Username: </label>
        <input type="username" id="username" name="username">
        <!-- password -->
        <label for="password">Password: </label>
        <input type="password" id="password" name="password">
        <!-- email -->
        <label for="email">Email: </label>
        <input type="email" id="email" name="email">
        <!-- phone number -->
        <label for="phone">Phone number: </label>
        <input type="phone" id="phone" name="phone">

        <button type="submit">SUBMIT</button>
    </form>
    
    <form action='{{url_for("login")}}' method="post">
        
        <!-- username -->
        <label for="username">Username: </label>
        <input type="username" id="username" name="username">
        <!-- password -->
        <label for="password">Password: </label>
        <input type="password" id="password" name="password">

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>