<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="styleProf.css">
</head>

<body>
    <div class="container">
        <div class="title">Schedule</div>
        <div class="content">
          <form action="#">
            <div class="user-details">

            <div class="input-box">
                <span class="details">Availability Today</span>
            </div>
      
            <div>
                <label class="container">6:
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>

                
            </div>

              <!-- <div class="login"><a href="/templates/login.html" class="a">Already Have an account? <u>Login</u></a></div> -->
            <div class="back"><a href="/templates/feed.html" class="a">Back</a></div>

            </div>
        </div>
    </div>
</body>
